@import "src/styles/sreens";

.popup {
  height: 100%;
  width: 100%;
  background: rgba(181, 188, 205, 0.63);
  position: fixed;
  left: 0;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  pointer-events: none;

  &.active {
    opacity: 1;
    pointer-events: all;
  }

  .inputPopup {
    margin-bottom: 40px;
    width: 530px;
  }

  .btnSave {
    background-color: #4F7BFF;
    border-radius: 16px;
    width: 249px;
    height: 52px;
    color: #FFFFFF;
    margin-right: 10px;
    @include on-width($tablet) {
      margin-right: 0;
    }
  }

  .btnClose {
    background-color: #F4F6FC;
    border-radius: 16px;
    width: 249px;
    height: 52px;
    color: #B5BCCD;
  }

  .btnWrapper {
    display: flex;
    justify-content: space-evenly;
  }
}

.formWrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
}



.popupContent {
  padding: 20px;
  border-radius: 16px;
  background-color: #FFFFFF;
  width: 320px;
  height: 480px;
  transform: scale(0.5);
  transition: 0.4s all;
  position: relative;

  @include on-width($tablet) {
    padding: 20px;
    width: 670px;
    height: 450px;
  }
  &.active {
    transform: scale(1);
  }

  > p {
    font-size: 18px;
    margin-bottom: 40px;
  }

  >img {
    position: absolute;
    top: 8px;
    right: 5px;
    @include on-width($tablet) {
      right: 29px;
    }
  }
}