@import "src/styles/sreens";

.dashboardWrapper {
  display: flex;
  align-items: center;
  margin-bottom: 40px;
  flex-direction: column;
  min-height: calc(100vh - 140px);

  .select {
    margin-top: 20px;
    @include on-width($tablet) {
      display: none;
    }
  }

  .dashboard {
    display: flex;
    flex-direction: column;
    align-items: center;

    @include on-width($tablet) {
      max-width: 768px;
    }

    @include on-width($desktopS) {
      max-width: 1300px;
    }

    @include on-width($desktopSPlus) {
      max-width: 1500px;
    }

    @include on-width($desktopSPlus) {
      max-width: 1500px;
    }

    @include on-width($desktopM) {
      max-width: 1920px;
    }
    .dashboardChart {

      h2 {
        color: #34353d;
        margin: 0 0 50px 0;
      }

      .toggleButton {
        position: relative;
        width: 280px;
        left: 45px;
        top: 20px;
        @include on-width($tablet) {
          left: 390px;
          top: 110px;
        }

        @include on-width($desktopS) {
          left: 835px;
          top: 110px;
        }
        @include on-width($desktopSPlus) {
          left: 880px;
          top: 110px;
        }

        @include on-width($desktopM) {
          left: 1055px;
          top:110px;
        }

      }
      .chart {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 320px;

        @include on-width($tablet) {
          height: 500px;
          width: 650px;
        }

        @include on-width($desktopS) {
          width: 1100px;
          height: 730px;
        }

        @include on-width($desktopSPlus) {
          width: 1150px;
          height: 750px;
        }

        @include on-width($desktopM) {
          width: 1320px;
        }

        .chartDes {
          display: none;

          @include on-width($tablet) {
            display: flex;
            flex-direction: column;
            align-items: center;
          }
          @include on-width($tablet) {
            height: 500px;
            width: 650px;
          }

          @include on-width($desktopS) {
            width: 1100px;
            height: 730px;
          }

          @include on-width($desktopSPlus) {
            width: 1150px;
            height: 750px;
          }

          @include on-width($desktopM) {
            width: 1320px;
          }
        }
        .chartMob {
          display: flex;
          flex-direction: column;
          align-items: center;

          @include on-width($tablet) {
            display: none;
          }
        }
      }
    }

    .listItem {
      display: none;
      @include on-width($tablet) {
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }

  }
}