@import "src/styles/sreens";

.settingsWrapper {

  max-width: 380px;
  margin: 0 auto;
  min-height: calc(100vh - 40px);

  @include on-width($tablet) {
  max-width: $tablet;
  padding: 50px;
  }

  @include on-width($desktopS) {
    max-width: $desktopS;
  }

  @include on-width($desktopM) {
    max-width: $desktopM;
  }

  .spinner {
    position: absolute;
    top: 50%;
    left: 45%;
  }

}

.settingsHeaderWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
margin-bottom: 20px;
  @include on-width($tablet) {
    flex-direction: row;
    margin-bottom: 0;
  }

  > h1 {
    font-size: 36px;
    line-height: 44px;
    color: #555961;
  }
}

.contentWrapper {
  display: grid;
  gap: 25px;
  justify-content: center;

  @include on-width($desktopS) {
    grid-template-columns: repeat(2, 1fr);
  }

  @include on-width($desktopSPlus) {
    grid-template-columns: repeat(3, 1fr);
  }

  @include on-width($desktopM) {
    grid-template-columns: repeat(4, 1fr);
  }
}

.popupBtn {
  cursor: pointer;
  background-color: #4f7bff;
  position: relative;
  width: 200px;
  height: 52px;
  border-radius: 16px;
  display: flex;
  justify-content: center;
  align-items: center;

  @include on-width($desktopS) {
    width: 350px;
  }

  >img {
    width: auto;
    height:auto;
  }

  > p {
    margin-right: 8px;
    color: #FFFFFF;
    font-size: 14px;
    line-height: 17px;
    font-weight: 500;
    margin-left: 8px;
  }

  &:hover {
    background: #1735a8;
  }

  &:active {
    background: #1735a8;
  }
}