.loginPage {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-height: calc(100vh - 40px);

  .loginBlock {
    align-items: center;
    justify-content: center;
    height: 340px;
    width: 320px;
    border-radius: 50px;
    background-color: #EBF3FA;
    h2 {
      color: #6b6c6f;
      margin: 20px 0 10px;
    }
    .errorPassword {
      font-family: "Roboto","Helvetica","Arial",sans-serif;
      font-weight: 400;
      font-size: 0.75rem;
      line-height: 1.66;
      letter-spacing: 0.03333em;
      text-align: left;
      margin-top: 3px;
      margin-right: 14px;
      margin-bottom: 0;
      margin-left: 14px;
      color: #d32f2f;
    }
  }

}