@import "src/styles/sreens";

.headerWrapper {
  display: flex;
  justify-content: center;

  .header {
    display: flex;
    width: 1920px;
    justify-content: space-between;
    padding: 0 10px;

    .logo {
      margin: 5px 0 0 10px;
    }
    .header {
      display: flex;
      justify-content: space-evenly;
      margin: 20px auto;
      width: 100px;

      .headerLink {
        display: flex;
        align-items: center;
        text-decoration: none;
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 17px;
        color: #b5bccd;
        *:first-child {
          margin-right: 10px;
        }
        &.active {
          color: #4f7bff;
          font-weight: 600;
        }
      }
      .headerLink:hover {
        color: #4f7bff;
      }
    }

    .headerLink {
      display: flex;
      align-items: center;
      text-decoration: none;
      font-style: normal;
      font-weight: 500;
      font-size: 14px;
      line-height: 17px;
      color: #b5bccd;
      *:first-child {
        margin-right: 10px;
      }
      &.active {
        color: #4f7bff;
        font-weight: 600;
      }
    }
    .headerLink:hover {
      color: #4f7bff;
    }
  }
}



