@import "src/styles/sreens";

.footerWrapper {
  position: relative;
  width: 100%;
  bottom: 0;
  left: 0;
  margin: 0 auto 5px auto;
  height: 40px;

  @include on-width($tablet) {
    bottom: 0;
  }

  @include on-width($desktopSPlus) {
    margin-top: 0;
  }

  @include on-width($desktopM) {
    max-width: 1920px;
  }

  .underfoot {
    font-size: 14px;
    line-height: 14px;
    color: #b5bccd;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    @include on-width($tablet) {
      flex-direction: row;
    }
  }
  .line {
    width: 100%;
    max-width: 1920px;
    margin: 0 auto 10px auto;
    background: #b5bccd;
    opacity: 0.3;
    border-top: 1px solid #b5bccd;
    display: flex;
  }
}
