@import "src/styles/sreens";

.settingsItemWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 320px;
  height: 190px;
  background-color: #F4F6FC;
  border-radius: 16px;
  margin: auto;
  justify-content: space-between;

  @include on-width($tablet) {
    width: 420px;
    height: 255px;
    margin-bottom: 24px;
  }
  .btn {
    width: 100px;
    height: 20px;
    margin: 10px 0 10px 0;

    @include on-width($tablet) {
      height: auto;
      width: 232px;
      margin-bottom: 41px;
    }
  }

  > p {
    word-break: break-all;
    width: 300px;
    font-weight: 500;
    margin: 15px 0 5px;
    max-width: 300px;
    @include on-width($tablet) {
      margin-bottom: 14px;
    }
  }

  .urlText {
    color: #B5BCCD;
    font-size: 14px;
    font-weight: 500;
    word-break: break-all;
    width: 300px;

    margin: 5px 0 ;
    @include on-width($desktopS) {
      margin-bottom: 24px;
    }
  }

  .btnWrapper {
    display: flex;
    justify-content: space-between;
    width: 100%;
    position: relative;

    .settingsBtnSave {
      color: #B5BCCD;
      font-size: 14px;
      font-weight: 500;
      width: 210px;
      height: 52px;
      padding-top: 11px;
      border-bottom-left-radius: 16px;
      @include on-width($desktopS) {
        font-size: 17px;
      }
      &:active {
        background-color: #4F7BFF;
        color: #FFFFFF;
      }

      &:hover {
        background-color: #4F7BFF;
        color: #FFFFFF;
        cursor: pointer;
      }
    }

    .settingsBtnDelete {
      color: #B5BCCD;
      font-size: 14px;
      font-weight: 500;
      width: 210px;
      height: 52px;
      padding-top: 11px;
      border-bottom-right-radius: 16px;
      @include on-width($tablet) {
        font-size: 17px;
      }

      &:active {
        background-color: #4F7BFF;
        color: #FFFFFF;

      }

      &:hover {
        background-color: #4F7BFF;
        color: #FFFFFF;
        cursor: pointer;
      }
    }


    .trait {

        display: flex;width: 1px;
        height: 47px;
        position: absolute;
        background-color: #B5BCCD;
        top: 5px;
        right: 50%;
    }
  }
}


