.popupBtn {
  cursor: pointer;
  background-color: #4f7bff;
  position: relative;
  width: 360px;
  height: 52px;
  border-radius: 16px;
  display: flex;
  justify-content: center;
  align-items: center;

  >img {
    width: 15px;
    height: 15px;
  }

  > p {
    margin-right: 8px;
    color: #FFFFFF;
    font-size: 14px;
    line-height: 17px;
    font-weight: 500;
  }
}
